img{
    width: 600px;
    height: 800px;
;
margin-left: 20px;
border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;

    background: #f10e0e85;
    position: relative;}

.cool{color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bolder;
    font-size: 1.5cm;
    letter-spacing: 4px;
    text-decoration: red underline ;
background-color: rgba(165, 42, 42, 0.267);
display: inline;
margin-left: 880px;
margin-top: 2500px;}

.lived{color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 4px;
background-color: rgba(165, 42, 42, 0.267);
display: inline;
margin-left: 880px;
margin-top: 2500px;}
    .god{
        margin-left: 20%;
        margin-top: -80px;
        font-size: 500%;
        font-weight: bold;
        font-family: 'Major Mono Display', monospace;
        letter-spacing: 12px;
        text-size-adjust: auto;
        
    }

    

    .center {
        display: block  ; 
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 400px;
        border-style:groove;
        border-color: red;
        border-top-style: double;
        border-width: 6px;
    }
.center:hover{
    border-width: 2px;
    width: 400px;
    height: 600px;
    transition: ease-in 0.5s;


}
.center:not(:hover){
    width: 250px;
    transition: ease 1s;
}

    nav{
        background-color: rgba(189, 3, 3, 0.74);
        margin-top: -2px;
    }

    .zyzzlogo{
        width: 80px;
        height: 80px;
    }

    
    body{background-color: rgb(235, 119, 119);
        caret-color: transparent;
    background-image: url(https://wallpaperaccess.com/full/882327.jpg);}
    
    
    .tag{
        font-size: 30px;
        background: rgba(212, 35, 16, 0.507);
        padding: 10px;
        margin-left: 20px;

        
    }
    
    p a{
        text-decoration: red wavy underline;
    }
    
    button{
        background-color: rgb(235, 119, 119);
        transform-origin: top;
        
    }
    button:hover{
        background-color: red ;
        transition: ease-in 0.5s;
        cursor:pointer;
    }
    button:not(:hover){
        background-color:rgb(235, 119, 119) ;
        transition: ease 1s;
    }
    

    .left{
        margin-left: -900px;
        margin-bottom: -400px;
    }
    .right{
        margin-left: 1225px;
        margin-bottom: -375px;
    }
  
    p{
        font-family: monospace;
        font-size: 20px;
        margin-left: 50px;
        text-shadow: 1px 1px #0e0601;
        background-color: rgba(212, 35, 16, 0.507);
        
    }
    .findmore{
        width:1000px;
        height: 100px;
margin-left: 25%;
font-size: 50px;
border-width: 0px;
font-family: monospace;
    }

    .findmore:hover{
        background-color: rgb(197, 20, 20);
    }
    hr{
        height: 10px;
        background-color: red;
        border-radius: 60%;
    }

